HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/bin/
/build/
/ext/
/info/
/internal/
/local/
/log/
/logs/

### VS Code ###
.vscode/

### Environment Variables ###
.env
*.env
.env.*

### Custom ###
*.class
application-prod.properties

### OS ###
.DS_Store
Thumbs.db